.profile {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 260px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border: 1px solid lightgray;
  margin-top: 20px;
  width: 80px;
  border-radius: 50%;
}

.name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.tag {
  margin-top: 0px;
  margin-bottom: 10px;
  color: darkgray;
}

.location {
  margin-top: 0px;
  margin-bottom: 20px;
  color: darkgray;
}

.stats {
  background-color: rgb(240, 244, 253);
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.item {
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid rgb(224, 228, 236);
  width: calc(100% / 3);
}
.item:last-child {
  border-right: none;
}

.label {
  font-size: 12px;
  margin-bottom: 5px;

  color: rgb(138, 138, 138);
}

.quantity {
  font-weight: 600;
  font-size: 14px;
}
